* {
	box-sizing: border-box;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

:root {
	--panelColor: #191919;
	--overlayColor: #212121;
	--panelBorderRadius: 5px;
	--headerHeight: 50px;
}

body {
	margin: 10px;
	padding: 0;
	transition: opacity .7s;
	background: #111;

	height: calc(100vh - 10px * 2);
	width: calc(100vw - 10px * 2);

	display: grid;
	grid-template-areas: 
		'header header header'
		'simulationPanel graphPanel controlPanel';
	grid-template-rows: var(--headerHeight) auto;
	grid-template-columns: auto 35% 280px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
}


.UIPanel {
	background: var(--panelColor);
	border-radius: var(--panelBorderRadius);
	border: 1px solid #222;
	min-width: 50px;
	overflow: hidden;
}
.UIPanel > .panelHeader {
	color: #aaa;
	font-size: 16px;
}




.UIPanel.graphPanel {
	grid-area: graphPanel;
}







.UIPanel.headerPanel {
	grid-area: header;
	display: flex;
	padding: 10px;
}
.UIPanel.headerPanel .item {
	position: relative;
	line-height: 30px;
	height: 30px;
	color: #ccc;
	font-size: 18px;
}