
.UIPanel.simulationPanel {
	grid-area: simulationPanel;
	height: var(--contentHeight);
	
	aspect-ratio: 1;
	overflow: hidden;
}


#simulationCanvas {
	position: absolute;
	left: 1px;
	top: 1px;
	height: calc(var(--contentHeight) + 1px);
	width: calc(var(--contentHeight) + 1px);
	
	border-radius: var(--panelBorderRadius);
	overflow: hidden;
}


.UIPanel.simulationPanel .overlayPanel {
	position: absolute;
	display: inline-flex;
	padding: 10px;

	background: var(--overlayColor);
	border-radius: calc(var(--panelBorderRadius) * 2);

	border: 1px solid #373737;
	box-shadow: 10px 10xp 10px 10px rgba(255, 255, 255, 0.1);
}
.UIPanel.simulationPanel .overlayPanel.hide {
	display: none;
}

.UIPanel.simulationPanel .overlayPanel.controlPanel {
	position: relative;
	top: calc(100% - 20px);
	left: 50%;
	transform: translate(-50%, -100%);

	height: 50px;
}

.UIPanel.simulationPanel .controlPanel > * {
	white-space: nowrap;
	color: #fff;
	margin: 0 5px;
	line-height: 28px;
}

.UIPanel.simulationPanel .controlPanel .text {
	color: #aaa;
	min-width: 40px;
	text-align: center;
}

.UIPanel.simulationPanel .text.speed .speedSelect {
	position: relative;
	border: 1px solid red;
	top: -40px;
	height: 50px;
	opacity: 0;
	margin-right: -20px;
}

.UIPanel.simulationPanel .controlPanel .button {
	width: 25px;
	text-align: center;
	font-size: 30px;
	line-height: 25px;
	cursor: pointer;
}


.UIPanel.simulationPanel .controlPanel .startStop[runState='0']:after {
	content: '⏵'
}
.UIPanel.simulationPanel .controlPanel .startStop[runState='1']:after {
	content: '⏸'
}



.UIPanel.simulationPanel .controlPanel .button.refresh {
	line-height: 20px;
	font-size: 35px;
}


.UIPanel.simulationPanel .controlLegendPanel {
	position: relative;
	float: right;
	margin: 10px;
	
	color: #aaa;
	font-size: 12px;

	border-radius: calc(var(--panelBorderRadius));
}